.btn, a.btn, button.btn {
  &.bg-transparent {
    background: none;
  }
  &.btn-default-corner {
    border: 1.5px solid rgba(41, 41, 41, .18);
    border-radius: 50px;
    color: #000;
    @include rem('font-size', 15);
    min-width: 150px;
    padding: 9px 15px;
    text-transform: uppercase;
    @include breakpoint(1200) {
      @include rem('font-size', 13);
      min-width: 120px;
    }
    &:hover {
      background-color: #000;
      border-color: #000;
      color: #FFF;
    }
    .ficon {
      float: left;
      margin: 3px 6px 0 0;
    }
  }
  &.bg-black {
    background-color: #000;
    color: #FFF;
  }
  &:active, &.active {
    box-shadow: none;
  }
}