@font-face {
	font-family: 'MYRIADPROREGULAR';
	src: url('../fonts/MYRIADPROREGULAR.eot') format('embedded-opentype'), url('../fonts/MYRIADPROREGULAR.ttf') format('truetype'), url('../fonts/MYRIADPROREGULAR.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Alternate';
	src: url('../fonts/din-alternate-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GlacialIndifference';
	src: url('../fonts/GlacialIndifference-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}