@font-face {
	font-family: 'MYRIADPROREGULAR';
	src: url('../fonts/myriadproregular.eot') format('embedded-opentype'), url('../fonts/myriadproregular.ttf') format('truetype'), url('../fonts/myriadproregular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Alternate';
	src: url('../fonts/din-alternate-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GlacialIndifference';
	src: url('../fonts/glacialindifference-bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
