$color-primary: #f1666c;

$text-white: #fff;
$text-dark: #000;
$text-mizani: #623707;

$bg-white: #fff;
$bg-header-banner: #688eb4;
$bg-footer: #0f192e;

$font-header-brand: 'GlacialIndifference';
$font-safe: 'Verdana';
$font-banner-heading: 'DIN Alternate';
$font-footer: 'Helvetica';
$font-footer-brand: 'Raleway';


