.book-list-container {
  .header-toolbar {
    padding: 0 25px;
    @include breakpoint(830) {
      padding: 0 10px
    }
  }
  .search-form {
    overflow: hidden;
    padding-right: 25px;
    .input-search {
      position: relative;
      .ficon {
        position: absolute;
        top: 16px;
        left: 21px;
        @include breakpoint(830) {
          top: 11px;
        }
      }
      .form-control {
        border: 1px solid rgba(197, 197, 197, .89);
        border-radius: 25px;
        box-shadow: none;
        padding-left: 56px;
        width: 100%;
        height: 50px;
        @include breakpoint(830) {
          height: 40px;
        }
      }
    }
  }
  .btn.btn-download-list {
    background: none;
    border: 1px solid rgba(197, 197, 197, .89);
    float: right;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    .ficon-download {
      font-size: 18px;
      float: left;
      margin: 1px 18px 0 0;
    }
    @include breakpoint(768) {
      float: none;
      margin-bottom: 10px;
      height: 40px;
    }
  }
  .list-char-filter {
    clear: both;
    padding-top: 25px;
    white-space: nowrap;
    .list {
      display: table;
    }
    .item {
      display: table-cell;
      text-align: center;
      width: 1%;
      .txt-link {
        color: #000;
      }
    }
    @include breakpoint(767) {
      white-space: normal;
      .list {
        display: block;
      }
      .item {
        display: inline-block;
        width: 27px;
        margin-bottom: 5px;
      }
    }
  }
  .book-list-content {
    padding: 0 25px;
    @include breakpoint(830) {
      padding: 0 10px
    }
  }
  .book-group-name {
    .block-title {
      color: #0A0A0A;
      @include rem('font-size', 17);
      font-weight: 600;
      line-height: 1.1764705882;
      padding: 23px 0;
    }
    .list {
      .item {
        overflow: hidden;
        padding-bottom: 15px;
      }
    }
    .content {
      border-bottom: 1px solid rgba(151, 151, 151, .17);
      padding-bottom: 13px;
      overflow: hidden;
      .title-author {
        float: left;
      }
      .remove {
        float: right;
        @include breakpoint(767) {
          &.remove-toggled {
            width: 100%;
          }
        }
        .btn {
          font-size: .8125rem;
          height: 31px;
          padding: 5px 13px;
          margin-right: 5px;
          @include breakpoint(767) {
            margin-right: 0px;
            margin-top: 10px;
            margin-bottom: 5px;
            width: 100%;
          }
        }
        i {
          vertical-align: middle;
        }
      }
      .book-title {
        a {
          color: #555;
          font-family: 'Merriweather', serif;
          @include rem('font-size', 14);
          line-height: 2;
        }
      }
      .author {
        color: #999;
        @include rem('font-size', 14);
        font-weight: 300;
      }
    }
    .image {
      border-radius: 0 3px 3px 0;
      float: left;
      margin-right: 15px;
      width: 37px;
    }
    .list-member {
      @include rem('font-size', 13);
      .image {
        width: 25px;
        height: 25px;
        float: none;
      }
    }
  }
}

.block-list-book {
  .popular-book {
    overflow-x: auto;
    .slider-container {
      .slider-content {
        min-width: 100%;
        @include breakpoint(767) {
          min-width: 575px;
        }
        .slider-item {
          @include breakpoint(1120) {
            padding: 14px;
          }
          .wrap-image {
            @include breakpoint(1000) {
              height: 180px;
            }
          }
        }
      }
    }
    .txt-link {
      height: 44px;
      overflow: hidden;
    }
    .author {
      height: 20px;
      overflow: hidden;
    }
  }
}

.search-book-container {
  background-color: #f0f0f0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 0 30px 15px;;
  padding: 20px;
  position: relative;
  .search-book-form {
    .form-group {
      float: left;
      width: 40%;
      margin-right: 10px;
    }
    .btn-search {
      background-color: #000;
      color: #fff;
      height: 54px;
    }
  }
  .search-results {
    clear: both;
  }
  .block-list-book {
    .popular-book {
      .slider-container {
        .slider-content {
          .slider-item {
            padding: 20px 10px;
          }
        }
      }
    }
  }
  .btn-close-find-book {
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 25px;
    color: #c4c4c4;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    &:after, &:before {
      background-color: #c4c4c4;
      content: "";
      position: absolute;
      top: 7px;
      left: 14px;
      height: 15px;
      width: 1px;
      transform: rotate(40deg);
    }
    &:after {
      transform: rotate(-40deg);
    }
  }
  > .form-group {
    clear: both;
    max-width: 500px;
    text-align: center;
    margin: 50px auto 10px;
  }
  .slider-box {
    .wrap-image::after {
      background-color: #000;
      border: 1.5px solid rgba(41, 41, 41, .18);
      border-radius: 50px;
      color: #fff;
      content: 'Add';
      @include rem('font-size', 15);
      min-width: 100px;
      padding: 9px 15px;
      text-transform: uppercase;
      position: absolute;
      top: 50px;
      left: 50%;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      transform: translateX(-50%);
      @include transition(all .3s ease);
      @include breakpoint(1200) {
        @include rem('font-size', 13);
        min-width: 80px;
      }
    }
    &:hover {
      .wrap-image::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
