.book-detail-container {
  padding-top: 66px;
  min-height: calc(100vh - 122px);
  position: relative;
  z-index: 11;
  .bg-book-detail {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    .bg-image {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 100%;
      min-height: 100%;
      opacity: .34;
      -webkit-filter: blur(17px);
      filter: blur(17px);
      position: absolute;
      top: 0;
      left: -35px;
      right: -35px;
      bottom: -35px;
    }
  }
  .book-detail-content {
    margin: 0 auto;
    padding: 80px 20px 40px;
    width: 800px;
    position: relative;
    z-index: 10;
    @include breakpoint(800) {
      width: 100%;
    }
    @include breakpoint(600) {
      padding-top: 40px;
    }
  }
  .left-content {
    text-align: center;
    float: left;
    width: 252px;
  }
  .right-content {
    float: right;
    width: calc(100% - 252px);
    padding-left: 60px;
    @include breakpoint(600) {
      padding: 0;
    }
  }
  .btn.btn-buy-amazon {
    display: block;
    margin: 40px auto 30px;
    @include rem('font-size', 17);
    width: 100%;
    text-transform: uppercase;
    padding: 13px 30px;
    max-width: 250px;
    .ficon {
      margin-top: 4px;
    }
    @include breakpoint(600) {
      @include rem('font-size', 14);
      margin: 25px auto 25px;
      padding: 9px 30px;
    }
  }
  .book-info {
    .book-title {
      color: #FFF;
      font-family: 'Merriweather', serif;
      @include rem('font-size', 37);
      font-weight: 600;
      line-height: 1.5;
      @include breakpoint(600) {
        font-weight: 400;
        @include rem('font-size', 24);
      }
    }
    .author {
      color: #FFF;
      @include rem('font-size', 20);
      line-height: 1.2;
      padding: 10px 0 30px;
      @include breakpoint(600) {
        @include rem('font-size', 18);
        font-weight: 300;
        padding: 5px 0 15px;
      }
    }
    .rating {
      color: #FFF;
      @include rem('font-size', 18);
      font-family: 'Merriweather', serif;
      font-weight: 300;
      line-height: 1.2;
      @include breakpoint(600) {
        @include rem('font-size', 14);
      }
    }
    .group-action-button {
      clear: both;
      .btn {
        background-color: #FFF;
        color: #1B1615;
        border-width: 0;
        border-color: #FFF;
        @include rem('font-size', 17);
        font-weight: 500;
        padding: 11px 30px;
        margin-top: 20px;
        margin-right: 18px;
        .ficon {
          margin-right: 15px;
        }
        &:hover {
          background-color: #000;
          color: #FFF;
        }
        @include breakpoint(600) {
          display: block;
          @include rem('font-size', 14);
          max-width: 250px;
          margin: 20px auto 0;
          padding: 9px 30px;
          width: 100%;
        }
      }
      .select-content.rating {
        border: none;
        margin: 20px 0 0 0;
        .s-label {
          color: #000;
          font-family: 'Roboto';
          font-weight: 400;
          @include rem('font-size', 15);
          padding: 14px 10px 14px 15px;
          @include breakpoint(767) {
            padding: 9px 10px 9px 15px;
          }
        }
        .Select-control {
          height: 45px;
          @include breakpoint(767) {
            height: 36px;
          }
        }
        .Select-input {
          height: 45px;
          @include breakpoint(767) {
            height: 36px;
          }
        }
        .Select-placeholder {
          line-height: 48px;
          @include breakpoint(767) {
            line-height: 37px;
          }
        }
        .Select--single>.Select-control .Select-value {
          @include rem('font-size', 16);
          line-height: 45px;
          @include breakpoint(767) {
            line-height: 33px;
          }
        }
      }
    }
    @include breakpoint(600) {
      text-align: center;
    }
  }
  @include breakpoint(600) {
    .left-content, .right-content {
      float: none;
      width: 100%;
    }
  }
}