.contact-us {
  clear: both;
  padding-bottom: 30px;
  .block-title {
    color: #3C3737;
    @include rem('font-size', 32);
    font-weight: 100;
    line-height: 1.53125;
    text-align: center;
    padding: 30px 0;
  }
  .main-form {
    max-width: 405px;
    margin: 0 auto;
    .form-group {
      margin-bottom: 25px;
    }
    .form-control {
      &::-webkit-input-placeholder {
        color: #727272;
        text-transform: uppercase;
        @include rem('font-size', 14);
      }
      &::-moz-placeholder {
        color: #727272;
        text-transform: uppercase;
        @include rem('font-size', 14);
      }
      &:-ms-input-placeholder {
        color: #727272;
        text-transform: uppercase;
        @include rem('font-size', 14);
      }
      &:-moz-placeholder {
        color: #727272;
        text-transform: uppercase;
        @include rem('font-size', 14);
      }
    }
    .form-textarea {
      border-radius: 7px;
      width: 100% !important;
      height: 120px !important;
    }
  }
}