.create-club-container {
  background-color: #F7F2EE;
  padding-top: 66px;
}
.create-club-content {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  min-height: calc(100vh - 188px);
  padding: 40px 15px 50px;
  .create-club {
    max-width: 410px;
    width: 100%;
    .name {
      padding: 15px 5px;
    }
    .title {
      color: #3C3737;
      @include rem('font-size', 32);
      font-weight: 300;
      line-height: 1.53125;
      padding: 12px 0 18px;
      text-align: center;
    }
    .image {
      display: block;
      margin: 0 auto;
    }
    .main-form {
      .form-control {
        border-color: #FFF;
      }
      .form-group {
        margin-bottom: 20px;
      }
      .btn-create-new-club {
        background-color: #2C2827;
        color: #FFF;
        width: 100%;
        min-height: 50px;
        &:hover {
          background-color: #000;
        }
      }
    }
  }
}

.form-create-name {
  position: relative;
  .form-control {
    padding-right: 110px;
  }
  .button-group {
    position: absolute;
    right: 0;
    top: 0;
    .btn.btn-create-new-club {
      min-width: 100px;
      height: 54px;
    }
  }
}