.faq-container {
  .faq-info {
    max-width: 780px;
    margin: 0 auto;
  }
  .list-faq {
    .bar-title {
      color: #000;
      @include rem('font-size', 22);
      line-height: 1.1363636364;
      position: relative;
      padding-left: 43px;
      cursor: pointer;
    }
    .description {
      color: #4A4A4A;
      display: none;
      @include rem('font-size', 16);
      line-height: 1.8125;
      padding: 16px 0 0 43px;
    }
    .line {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 19px;
      height: 19px;
      &:before, &:after {
        background-color: #000;
        border: 1px solid #000;
        border-radius: 5px;
        content: '';
        position: absolute;
        @include transition(all .3s ease);
      }
      &:before {
        width: 19px;
        height: 3px;
        top: 8px;
      }
      &:after {
        width: 3px;
        height: 19px;
        left: 8px;
      }
    }
    .item {
      border-bottom: 1px solid #D3D3D3;
      padding: 28px 0;
      &:first-child {
        .description {
          display: block;
        }
      }
      .active {
        .line {
          &:after {
            visibility: hidden;
            opacity: 0;
            @include transition(all .3s ease);
          }
        }
      }
    }
  }
}