.featured-books-container {
  background-color: #FFF;
  .featured-books-sort-group {
    background-color: #FFF;
    border-bottom: 1px solid rgba(191, 191, 191, .43);
    padding: 25px 0;
    text-align: center;
    .select-group-picker {
      max-width: 550px;
      margin: 0 auto;
    }
    .dropdown-menu > li > a {
      white-space: normal;
    }
    .Select {
      display: inline-block;
    }
    .Select-input {
      position: absolute;
      top: 0;
    }
    .Select-control {
      border: none !important;
      box-shadow: none !important;
      width: auto;
      height: auto;
      .Select-value {
        position: static;
        top: auto;
        right: auto;
        bottom: auto;
        padding-right: 40px;
      }
    }
    .Select-placeholder, .Select--single > .Select-control .Select-value {
      background: none;
      border: none;
      box-shadow: none;
      font-family: 'Merriweather', serif;
      white-space: normal;
      @include rem('font-size', 20);
      @include breakpoint(767) {
        @include rem('font-size', 15);
        line-height: 25px;
      }
    }
    .Select-arrow-zone {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 6px;
      right: 10px;
    }
    .Select-arrow {
      background: none;
      border: none;
      @include rem('font-size', 12);
      font-family: 'bookclubz';
      width: auto;
      height: auto;
      &:before {
        content: "\e901";
      }
    }
    .Select-menu-outer {
      min-width: 350px;
    }
    .is-open > .Select-control .Select-arrow {
      top: 0;
    }
  }
  .book-list-content {
    padding: 15px 0 20px;
    .list {
      .item {
        display: table;
        padding: 30px 45px;
        width: 100%;
        &:nth-child(2n) {
          background-color: #F5F5F5;
          border-radius: 6px;
        }
        .column {
          display: table-cell;
          vertical-align: top;
          padding: 10px 15px;
          @include breakpoint(600) {
            padding: 5px;
          }
        }
        .order-number {
          color: #3C3737;
          @include rem('font-size', 30);
          font-weight: 500;
          padding: 0 25px 0 0;
          min-width: 23px;
          display: inline-block;
          @include breakpoint(992) {
            @include rem('font-size', 25);
            padding: 0;
          }
          @include breakpoint(768) {
            @include rem('font-size', 25);
          }
          @include breakpoint(600) {
            @include rem('font-size', 15);
          }
        }
        .wrap-image {
          border-radius: 0 3px 3px 0;
          width: 158px;
          @include breakpoint(600) {
            width: 70px;
          }
        }
        .content {
          padding-right: 210px;
          position: relative;
          @include breakpoint(768) {
            padding-right: 185px;
          }
          @include breakpoint(767) {
            padding: 0;
          }
        }
        .title {
          color: #555;
          font-family: 'Merriweather', serif;
          @include rem('font-size', 24);
          font-weight: 300;
          @include rem('line-height', 28);
          letter-spacing: 0.9px;
          .txt-link {
            display: block;
            color: #555;
          }
          @include breakpoint(768) {
            @include rem('font-size', 19);
          }
          @include breakpoint(600) {
            @include rem('font-size', 13);
            @include rem('line-height', 20);
            font-weight: 400;
            padding-top: 5px;
          }
        }
        .author {
          color: #999;
          @include rem('font-size', 19);
          font-weight: 100;
          @include rem('line-height', 28);
          padding-top: 10px;
          @include breakpoint(768) {
            @include rem('font-size', 14);
          }
          @include breakpoint(600) {
            color: #555;
            @include rem('font-size', 12);
            font-weight: 300;
            @include rem('line-height', 20);
            padding-top: 0;
          }
        }
        .ficon-amazon {
          color: #C9C9C9;
          display: block;
          margin-top: 15px;
          @include breakpoint(600) {
            margin-top: 5px;
          }
        }
        .rating {
          color: #555;
          font-family: 'Merriweather', serif;
          @include rem('font-size', 18);
          font-weight: 300;
          @include rem('line-height', 28);
          position: absolute;
          top: 0;
          right: 0;
          .ficon {
            padding-right: 5px;
          }
          @include breakpoint(768) {
            @include rem('font-size', 14);
          }
          @include breakpoint(767) {
            position: static;
            margin-top: 10px;
          }
          @include breakpoint(600) {
            @include rem('font-size', 12);
            margin-top: 0;
          }
        }
        @include breakpoint(768) {
          padding: 15px;
        }
        @include breakpoint(600) {
          padding: 15px 15px 10px;
        }
      }
    }
  }
  .block-signup-club {
    padding: 80px 15px 70px;
  }
}