.forgot-container {
  @extend .signin-container;
  .back-link {
    color: #3C3737;
    @include rem('font-size', 15);
    padding: 15px 0 0;
    .ficon {
      @include rem('font-size', 12);
      margin-right: 5px;
    }
  }
}
.forgot-success-container {
  .left-container {
    width: 100%;
  }
}
.confirm-password-container {
  .main-form-content {
    max-width: 500px;
    margin: 0 auto;
  }
}