.home-container {
	.how-section {
		padding: 30px 0;
		color: $text-dark;
		background-color: $bg-white;
		.h1 {
      @include min-breakpoint(768) {
        margin-bottom: 50px;
      }
			margin-bottom: 30px;
		}
		.step {
			margin-bottom: 30px;
		}
		.col-xs-4 {
			@include breakpoint(575) {
				width: 100%;
				margin-bottom: 30px;
			}
		}
		.icon {
			margin-bottom: 20px;
		}
		.text {
			font-weight: 500;
		}
	}
  .hair-style-section {
    background-color: $bg-white;
    .style {
      @include min-breakpoint(768) {
        padding: 0 3px 3px 3px;
      }
      background-color: $bg-white;
      background-size: cover!important;
      padding: 0 0 3px 0;
      .name {
        display: block;
        text-align: center;
        color: $text-white;
        font-weight: 700;
        font-size: 32px;
        padding: 10vw 0;
      }
    }
  }
	.Shop-Mizani {
		@include breakpoint(575) {
      @include flex-flow(column);
			padding-right: 20px;
			padding-left: 20px;
		}
    @include flexbox;
    @include align-items(center);
		padding: 20px 45px;
		background-color: $bg-white;
		color: $text-mizani;
		.text, .img {
			text-align: left;
			padding: 0;
			@include breakpoint(575) {
				width: 100%;
				margin-bottom: 30px;
				text-align: center;
			}
		}
		.text {
			@include breakpoint(575) {
				padding-right: 0;
			}
			padding-right: 30px;
		}
		.brand-name {
			@include breakpoint(575) {
				font-size: 30px;
				br {
					display: none;
				}
			}
      @include min-breakpoint(992) {
        font-size: 47px;
        line-height: 54px;
      }
			font-size: 37px;
			font-weight: 900;
			line-height: 40px;
			margin-bottom: 20px;
			.Rights {
				&::after {
					line-height: 0;
					position: relative;
					top: -2em;
					content: "\00AE";
					font-size: 10px;
					vertical-align: baseline;
				}
			}
		}
	}
}