.profile-container {
  padding-top: 66px;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
  }
  &:before {
    left: 0;
    background-color: #F7F2EE;
  }
  &:after {
    right: 0;
    background-color: #FFF;
  }
  .center {
    display: table;
    min-height: calc(100vh - 188px);
    @include breakpoint(700) {
      display: block;
    }
  }
  .left-container {
    background-color: #F7F2EE;
    float: left;
    padding: 34px 0 34px 20px;
    width: 310px;
    display: table-cell;
    vertical-align: top;
    @include breakpoint(930) {
      width: 250px;
    }
    @include breakpoint(700) {
      display: block;
      float: none;
      width: 100%;
      padding: 20px 20px 0;
    }
  }
  .right-container {
    background-color: #FFF;
    padding: 30px;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    position: relative;
    @include breakpoint(830) {
      padding: 30px 10px;
    }
    @include breakpoint(700) {
      display: block;
      float: none;
      width: 100%;
    }
  }
  .profile-content {
    .avatar-content {
      padding-bottom: 15px;
      .edit-profile-link {
        display: none;
        @include breakpoint(700) {
          display: inline-block !important;
          margin: 0 0 0 15px;
        }
      }
    }
    .wrap-avatar {
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      width: 100px;
      height: 100px;
      overflow: hidden;
      .image {
        max-width: 100%;
        height: auto;
        opacity: 0;
      }
      @include breakpoint(700) {
        width: 80px;
        height: 80px;
      }
    }
    .upload-avatar {
      float: left;
      position: relative;
      width: 100px;
      @include breakpoint(700) {
        width: 80px;
      }
    }
    .btn-upload-avatar {
      background-color: #FFF;
      border-radius: 20px;
      text-align: center;
      line-height: 27px;
      width: 27px;
      height: 27px;
      overflow: hidden;
      cursor: pointer;
      position: absolute;
      left: 50%;
      bottom: -13px;
      @include transform-customize(translateX(-50%));
      .form-control {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
      .ficon {
        @include rem('font-size', 13);
      }
    }
    .user-name {
      color: #3C3737;
      @include rem('font-size', 20);
      font-weight: 600;
      line-height: 2.45;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 24px 20px 0 15px;
      @include breakpoint(700) {
        padding-top: 11px;
        line-height: 1.6666666667;
        @include rem('font-size', 18);
      }
    }
    .wrap-spinner {
      background-color: rgba(255, 255, 255, .7);
      border-radius: 10px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  .list-user-menu {
    padding: 10px 30px 0 0;
    .item {
      padding: 10px 0;
      a {
        border-left: 2px solid transparent;
        color: #4A4645;
        display: block;
        @include rem('font-size', 13);
        padding-left: 13px;
        &.active {
          border-color: #2C2827;
          font-weight: 600;
        }
      }
      .text-gray {
        color: #A4A19B;
        @include rem('font-size', 13);
        padding-left: 15px;
      }
    }
    @include breakpoint(700) {
      white-space: nowrap;
      overflow: auto;
      .item {
        display: inline-block;
        padding-right: 10px;
        padding-bottom: 0;
        a {
          border-left: none;
          border-bottom: 2px solid transparent;
          padding: 0 8px 5px;
          &.active {
            border-color: #2C2827;
            font-weight: 600;
          }
        }
      }
    }
  }
  .user-info {
    padding: 10px 50px 20px 0;
    .list {
      .item {
        border-bottom: 1px solid #E8E8E8;
        padding: 12px 0;
      }
    }
    .title {
      color: #333;
      @include rem('font-size', 13);
      font-weight: 600;
      line-height: 1.7692307692;
      padding-bottom: 5px;
    }
    .text {
      color: #4A4645;
      @include rem('font-size', 14);
    }
    @include breakpoint(700) {
      display: none;
    }
  }
  .edit-profile-link {
    color: #454140;
    border-bottom: 1px solid #454140;
    display: inline-block;
    @include rem('font-size', 14);
    margin-top: 15px;
    line-height: 1.7;
    &:hover {
      border-color: #000;
      color: #000;
    }
    @include breakpoint(700) {
      display: none;
    }
  }
  .no-data {
    border-bottom: 1px solid rgba(223, 223, 223, .34);
    color: #564434;
    @include rem('font-size', 15);
    font-weight: 300;
    margin: 0 30px;
    line-height: 1.8;
    text-align: center;
    padding-bottom: 40px;
    .image {
      margin: 20px 0;
    }
    .txt-link {
      border-bottom: 1px solid #000;
      color: #333;
      text-decoration: underline;
      &:hover {
        color: #000;
      }
    }
    @include breakpoint(830) {
      margin: 0 10px;
    }
    @include breakpoint(700) {
      padding-bottom: 20px;
    }
  }
}
.block-my-clubs {
  .list-club {
    .item {
      border-radius: 6px;
      padding: 22px 30px;
      &:nth-child(2n) {
        background-color: rgba(240, 240, 240, .7);
      }
      @include breakpoint(768) {
        padding: 20px;
      }
      @include breakpoint(700) {
        padding: 7px 10px;
        &:nth-child(2n) {
          background: none;
        }
      }
    }
    .image {
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      float: left;
      width: 89px;
      height: 89px;
      overflow: hidden;
      .image {
        opacity: 0;
      }
      @include breakpoint(768) {
        width: 82px;
        height: 82px;
      }
    }
    .club-info {
      overflow: hidden;
      padding-left: 20px;
    }
    .info {
      float: left;
      padding-top: 20px;
      max-width: 300px;
      width: 50%;
      @include breakpoint(768) {
        float: none;
        padding-top: 0;
        width: 100%;
        max-width: 400px;
      }
      @include breakpoint(700) {
        max-width: none;
      }
    }
    .invite-link {
      max-width: 320px;
      width: 50%;
      padding-left: 15px;
      overflow: hidden;
      @include breakpoint(768) {
        width: 100%;
        padding-left: 0;
      }
    }
    .club-title {
      a {
        color: #2C2827;
        display: inline-block;
        @include rem('font-size', 18);
        font-weight: 400;
        line-height: 1.1666666667;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100% - 23px);
        &:hover {
          color: #000;
        }
        @include breakpoint(768) {
          @include rem('font-size', 14);
        }
      }
    }
    .btn-edit {
      cursor: pointer;
      font-size: 14px;
      margin-left: 10px;
    }
    .member {
      color: #A2A2A2;
      @include rem('font-size', 14);
      padding-top: 7px;
      .ficon {
        @include rem('font-size', 12);
        margin-right: 5px;
      }
      @include breakpoint(768) {
        padding: 4px 0;
      }
    }
  }
}
.block-main-header {
  .block-header {
    padding: 10px 30px 30px;
    @include breakpoint(830) {
      padding: 10px 10px 30px;
    }
    @include breakpoint(700) {
      padding: 0 10px 30px;
    }
  }
  .block-title {
    @include rem('font-size', 15);
    font-weight: 400;
    text-transform: uppercase;
    .ficon {
      margin-right: 8px;
    }
    .text-gray {
      color: #A3A09A;
      text-transform: none;
      padding-left: 10px;
      @include breakpoint(768) {
        display: block;
        padding-top: 5px;
      }
    }
    @include breakpoint(768) {
      @include rem('font-size', 13);
    }
    @include breakpoint(700) {
      @include rem('font-size', 15);
    }
  }
  .btn-add-new {
    color: #000;
    @include rem('font-size', 15);
    font-weight: 400;
    float: right;
    text-transform: uppercase;
    .ficon {
      margin-right: 8px;
    }
    @include breakpoint(768) {
      @include rem('font-size', 13);
    }
    @include breakpoint(700) {
      @include rem('font-size', 15);
      .text {
        display: none;
      }
    }
  }
}

.block-my-clubs {
  position: relative;
  min-height: 250px;
  .block-footer {
    border-bottom: 1px solid rgba(223, 223, 223, .34);
    padding-bottom: 16px;
    margin: 0 30px;
    text-align: center;
    @include breakpoint(768) {
      margin: 0 10px;
      padding-top: 10px;
    }
  }
  .view-all-link {
    color: #454140;
    display: inline-block;
    @include rem('font-size', 14);
    text-transform: uppercase;
    margin: 5px auto;
    &:hover {
      color: #000;
    }
  }
}

.invite-link {
  .title {
    color: #333;
    @include rem('font-size', 13);
    line-height: 1.7692307692;
    @include breakpoint(768) {
      display: none;
    }
  }
  .form-control {
    background-color: #F9F9F9;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    box-shadow: none;
    height: 35px;
    margin: 5px 0;
    @include breakpoint(768) {
      @include rem('font-size', 12);
      height: 30px;
    }
  }
  .note {
    color: #818181;
    @include rem('font-size', 12);
    @include breakpoint(768) {
      display: none;
    }
  }
}
.block-list-book {
  .popular-book {
    @extend .popular-book;
    background: none;
    min-height: 200px;
    .info {
      clear: both;
      padding-top: 20px;
    }
    .slider-container {
      .slider-content {
        min-width: 820px;
        padding: 0 5px;
      }
      .action-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 84px);
        overflow: hidden;
        @include transition(all .4s ease);
        z-index: 10;
      }
      .content-box {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(40%);
        padding: 20px 10px 10px;
        @include transition(all .4s ease);
        .btn {
          background-color: #fff;
          border-color: #fff;
          @include rem('font-size', 11);
          margin-bottom: 8px;
          padding: 9px 6px;
          min-width: 130px;
          min-height: 36px;
          width: 100%;
          &:hover {
            color: #000;
          }
        }
        .select {
          float: right;
        }
        .select-content.rating {
          display: block;
          margin: 0 0 8px;
          white-space: nowrap;
        }
        .Select-control {
          height: 37px;
          @include breakpoint(1070) {
            width: 40px;
          }
        }
        .select-content .s-label {
          padding: 10px 5px 9px 10px;
          @include breakpoint(1070) {
            padding: 10px 0 9px 10px;
          }
        }
        .Select-input {
          padding: 0 0 0 10px;
        }
        .Select-placeholder {
          line-height: 36px;
          padding-left: 10px;
        }
        .Select-value {
          @include rem('font-size', 14);
          line-height: 36px;
          padding-left: 5px;
        }
        .Select-arrow-zone {
          padding-right: 0;
        }
        .Select-menu-outer {
          width: 140px;
          @include breakpoint(1070) {
            width: 100px;
          }
        }
      }
      .slider-item {
        padding: 20px 15px;
        width: 25%;
        @include breakpoint(1120) {
          padding: 14px;
        }
        .wrap-image {
          height: 245px;
          float: left;
        }
        &:hover {
          transform: none;
          .wrap-image {
            box-shadow: 0 12px 19px rgba(0, 0, 0, 0.24);
          }
        }
      }
      .slider-box {
        position: relative;
        &:hover {
          .action-box {
            background-color: rgba(0, 0, 0, .8);
            @include transition(all .4s ease);
          }
          .content-box {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            @include transition(all .4s ease);
          }
        }
      }
    }
  }
}