.setting-container {
  .setting-content {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 10px;
    .block-title {
      color: #564434;
      @include rem('font-size', 25);
      font-weight: 700;
      line-height: 1.28;
      text-align: center;
      text-transform: none;
      padding-bottom: 24px;
    }
    .form-group {
      margin-bottom: 20px;
    }
  }
  .toggle-button-group {
    border-bottom: 1px solid rgba(151, 151, 151, .17);
    clear: both;
    margin-bottom: 20px;
    padding-bottom: 16px;
    overflow: hidden;
    .tgl-label {
      color: #2C2827;
      @include rem('font-size', 16);
      font-weight: 400;
      float: left;
      line-height: 1.5875;
      max-width: 80%;
    }
  }
  .group-form-button {
    text-align: center;
    padding: 20px 0 30px;
    .btn {
      background-color: #FFF;
      border: 1px solid #C8C8C8;
      height: 48px;
      margin: 0 8px;
    }
    .btn-cancel {
      &:hover {
        background-color: #FAFAFA;
        color: #000;
      }
    }
    .btn-update {
      background-color: #2C2827;
      border-color: #2C2827;
      color: #FFF;
      &:hover {
        background-color: #000;
        border-color: #000;
      }
    }
  }
}