.signin-container {
  padding-top: 66px;
  display: flex;
  .left-container {
    padding: 50px 50px 130px;
    text-align: center;
    position: relative;
    width: 670px;
    min-height: 605px;
    height: calc(100vh - 188px);
    .title-form {
      color: #3C3737;
      clear: both;
      @include rem('font-size', 32);
      font-weight: 300;
      @include rem('line-height', 49);
      padding: 30px 0;
      white-space: nowrap;
      @include breakpoint(768) {
        @include rem('font-size', 25);
        @include rem('line-height', 30);
      }
      @include breakpoint(500) {
        @include rem('font-size', 20);
      }
    }
    .form-group {
      margin-bottom: 25px;
      .form-control {
        border: 1px solid #C5C5C5;
        border-radius: 50px;
        box-shadow: none;
        color: #333;
        height: 54px;
        padding: 5px 25px;
        &::-webkit-input-placeholder {
          color: #C5C5C5;
          text-transform: uppercase;
        }
        &::-moz-placeholder {
          color: #C5C5C5;
          text-transform: uppercase;
        }
        &:-ms-input-placeholder {
          color: #C5C5C5;
          text-transform: uppercase;
        }
        &:-moz-placeholder {
          color: #C5C5C5;
          text-transform: uppercase;
        }
      }
    }
    .button-group {
      margin-bottom: 15px;
    }
    .btn-signin {
      background-color: #2C2827;
      color: #FFF;
      font-weight: 300;
      width: 100%;
      height: 50px;
    }
    .txt-forgot-link {
      color: #454140;
      display: inline-block;
      @include rem('font-size', 14);
      @include rem('line-height', 20);
      border-bottom: 1px solid #454140;
    }
    .btn-create-new-club {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 100px);
      @include breakpoint(600) {
        width: calc(100% - 60px);
      }
      @include breakpoint(500) {
        width: calc(100% - 30px);
      }
    }
    @include breakpoint(768) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include breakpoint(767) {
      width: 100%;
      height: auto;
    }
    @include breakpoint(600) {
      padding: 0 15px;
    }
  }
  .right-container {
    background: url(#{$img-url}bg-login.png) no-repeat center bottom;
    background-size: cover;
    width: 100%;
    @include breakpoint(767) {
      display: none;
    }
  }
}