.footer-container {
  @include breakpoint(575) {
    .brand, .category {
      width: 100%;
    }
  }
	background-color: $bg-footer;
	color: $text-white;
	font-family: $font-footer;
	padding: 25px 0;
	.brand {
    @include breakpoint(575) {
      text-align: center;
      margin-bottom: 20px;
    }
    @include min-breakpoint(992) {
      text-align: center;
    }
		text-align: right;
    padding: 0;
    .text {
      margin-bottom: 15px;
    }
	}
	.brand-swivel {
		font-family: $font-footer-brand;
		font-size: 30px;
		color: $text-white;
		vertical-align: middle;
	}
	.brand-mizani {
		margin-left: 15px;
		padding-left: 15px;
		border-left: 2px solid ;
		border-color: rgba(255,255,255,0.5);
		height: 55px;
		width: 115px;
	}
  .category {
    text-align: center;
  }
  .category-list {
    @include breakpoint(575) {
      text-align: center;
    }
    @include min-breakpoint(992) {
      display: block;
      li {
        display: inline-block;
        width: 33.33%;
        margin-bottom: 10px;
      }
    }
    display: inline-block;
    margin: auto;
    text-align: left;
    a {
      color: $text-white;
    }
  }
  .footer-row {
    @include breakpoint(575) {
      @include flexbox;
      @include flex-flow(column);
      .category {
        @include order(1);
        margin-bottom: 30px;
      }
      .brand {
        @include order(2);
      }
    }
  }
}