body {
	font-family: $font-safe;
}
.header-container {
	background-color: $bg-white;
}
.header-nav {
	@include breakpoint(575) {
    padding: 20px 20px;
	}
  @include min-breakpoint(768) {
    padding-bottom: 0;
  }
	padding: 50px 38px;
  .navbar {
    margin-bottom: 0;
  }
  .navbar-header {
    @include min-breakpoint(768) { width: 100% }
  }
  .navbar-default {
    background-color: $bg-white;
    border: none;
    .navbar-brand {
      @include breakpoint(575) {
        font-size: 11vw;
        text-align: left;
      }
      width: 100%;
      text-align: center;
      font-size: 65px;
      font-family: $font-header-brand;
      color: $color-primary;
      letter-spacing: .2em;
    }
    .navbar-toggle {
      @include breakpoint(575) {
        @include transform(translateY(-50%) scale(.7));
      }
      @include transform(translateY(-50%));
      margin: 0;
      position: absolute;
      right: 0;
      top: 50%;
      background: $bg-white;
      border: 4px solid $color-primary;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      .bar {
        display: block;
        width: 40px;
        height: 4px;
        background-color: $color-primary;
        margin: 7px auto;
        border-radius: 3px;
      }
    } 
    .navbar-collapse {
      @include min-breakpoint(768) { 
        clear: both;
        text-align: center;
      }
      border: none;
    }
    .navbar-nav {
      @include breakpoint(575) {
        text-align: left;
        margin-top: 20px;
      }
      @include min-breakpoint(768) { 
        @include flexbox; 
        @include justify-content(space-between)
        float: none;
      }
      margin-top: 40px;
      text-align: center;
      li a {
        color: $color-primary;
        font-weight: 700;
      }
    }
  }
  .row {
    margin: 0;
    position: relative;
  }
}
.header-banner {
	color: $text-white;
	padding: 0;
  .img-responsive {
    width: 100%;
  }
	.h1 {
		font-size: 7vw;
	}
	.text {
		@include breakpoint(575) {
			font-size: 2.4vw;
		}
    @include min-breakpoint(768) {
      padding-bottom: 20px;
    }
		font-size: 2vw;
		padding-bottom: 10px;
		font-weight: 600;
	}
	.banner-content {
		@include transform(translateY(-50%));
		position: absolute;
		top: 50%;
		right: 0;
		width: 55%;
		height: auto;
		.h1 {
			font-family: $font-banner-heading;
      @include min-breakpoint(768) {
      margin-bottom: 20px;
    }
		}
	}
	.btn-main {
		@include breakpoint(575) {
			font-size: 2vw;
		}
		font-size: 1.5vw;
	}
}
.btn-main {
	border-radius: 16px;
	background-color: $color-primary;
	border: none;
	color: $text-white;
	font-weight: 600;
	font-size: 10px;
	padding: 10px 20px;
}