.tgl {
  display: none;
  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 27px;
      height: 100%;
    }
    &:after {
      left: 0;
    }
    &:before {
      display: none;
    }
  }
  &:checked + .tgl-btn:after {
    left: 43%;
  }
}

.tgl-ios {
  + .tgl-btn {
    background-color: #E1E1E1;
    border-radius: 20px;
    padding: 2px;
    transition: all .4s ease;
    &:after {
      border-radius: 20px;
      background-color: #FFF;
      transition: left .3s ease;
      box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 0 rgba(0,0,0,.08);
    }
    &:active {
      box-shadow: inset 0 0 0 20px #E1E1E1;
      &:after {
        padding-right: .8em;
      }
    }
  }
  &:checked + .tgl-btn {
    background-color: #0D0D0D;
    &:active {
      box-shadow: none;
    }
  }
}

.checkbox-cus {
  input[type=checkbox],.f-input-control {
    display: none;
  }

  .input-label {
    color: #3C3737;
    cursor: pointer;
    display: inline-block;
    @include rem("font-size", 13);
    @include rem("line-height", 17);
    font-weight: 400;
    height: 15px;
    position: relative;
    padding-left: 22px;
  }

  .input-label:before {
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: -8px;
    position: absolute;
    left: 0;
    top: 50%;
  }

  input[type=checkbox]:checked + .input-label:before {
    content: "\e916";
    font-family: 'bookclubz';
    @include rem("font-size", 9);
    @include rem("line-height", 16);
    text-align: center;
    vertical-align: middle;
  }
}


// React transition
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}

.rdtOpen .rdtPicker {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 300px;
  th, td {
    border: none;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 500;
    height: 37px;
  }
  th.rdtSwitch {
    font-size: 21px;
    font-weight: 500;
    padding-top: 5px;
  }
  th.rdtNext, th.rdtPrev {
    font-size: 45px;
    font-weight: 300;
  }
  .rdtActive {
    background-color: #2C2827;
    border-radius: 50%;
  }
  td.rdtDay, td.rdtHour, td.rdtMinute, td.rdtSecond, .rdtTimeToggle {
    &:hover {
      border-radius: 50%;
    }
  }
  // Time
  .rdtCounter {
    color: #4A4A4A;
    width: 70px;
  }
}
















